
/* Item 1 */

.layout {
  max-width: 1440px;
  padding: 2%;
  margin: 0 auto;
}


.layout > section:nth-of-type(1) {
  text-align: center;
}


#services {
  text-align: center;
}




/* Item 2 */

.container {
  margin: 40px auto;
  padding: 0 20px;
  max-width: 767px;
}




/* Item 3 */

.section {
  margin: 40px 0;
  padding: 0 5px;
}




/* Item 4 */

.main-heading {
  font-weight: 500;
  max-width: 20ch;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  color: #333333;
}




/* Item 5 */

.heroImage {
  margin-top: 20px;
  border-radius: 18px;
  width: 100%;
  max-width: 100%;
  display: block;
}




/* Item 6 */

.caption {
  color: black;
}


.copy {
  color: #4f4f4f;
}




/* Item 7 */

.form {
  width: 100%;
  position: relative;
  margin-top: 20px;
}


.label {
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #828282;
  display: block;
  margin-bottom: 8px;
}


.input {
  width: 100%;
  border-radius: 10px;
  height: 45px;
  background-color: #f2f2f2;
  border: none;
  padding-left: 15px;
}


.formButton {
  position: absolute;
  right: 5px;
  top: 30px;
}




/* Items 8 and 9 */

.button {
  width: 120px;
  padding: 9px 20px;
  background-color: #2d9cdb;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}


.button:hover {
  background-color: #2574a1;
}




/* Item 10 */

.flex {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}


.card {
  padding: 3rem;
  background: white;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
  max-width: 300px;
}


.card .heading {
  text-transform: uppercase;
}


.card .text {
  margin: 15px 0;
}




/* Item 11 */

.teamContainer {
  display: flex;
  gap: 20px;
  padding: 0 20px;
  flex-wrap: nowrap;
  justify-content: space-between;
}


.team .heading {
  color: #eb5757;
  font-weight: 500;
}


.team .caption {
  color: #333333;
}


.metaText {
  color: #4f4f4f;
  margin: 20px 0;
}




/* Item 12 */

.teamImages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  height: 50vw;
  gap: 10px;
}


.teamImage {
  max-width: 45%;
}


.personImg {
  width: 100%;
  border-radius: 24px;
}


.teamImages .teamImage:nth-child(3) {
  margin-top: 20%;
}






